body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 40px;
    color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
    
}
.ball{
    justify-content: space-evenly;
    margin-left: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: royalblue;
    animation: ball infinite linear 2s;
}
@keyframes ball {
    0%{
        transform: scale(1);

    }
    25%{
        transform: scale(0.6);
        background-color:rgb(72, 176, 236);
    }
    50%{
        transform: scale(0.2);
        background-color: cyan;
    }
    75%{
        transform: scale(0.6);
        background-color: rgb(72, 176, 236);
    }
    100%{
        transform: scale(1);
    }
    
}