      /* set default value  */
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      body{
          background-color :lightgray ;
      }
      h1{
          margin: 30px;
          color :slategrey;
      }
      #container{
          display: inline-flex;
          width: 100%;
          /* border:5px solid saddlebrown; */
          padding: 10px;
          text-align: center;              
        }
    
      .box {
        width: 300px;
        height: 400px;
        background-color: white;
        overflow: hidden;
        padding: 20px;
        margin-right: 20px;
        text-align: justify;
        margin-bottom: 10px;
        border-radius: 15px
       
      }

     /* #box1{
          background-color: lavenderblush;
          border: 2px solid plum;
      }
      #box2{
          background-color :darkcyan;
          border: 2px solid greenyellow;
      }
      #box3{
          background-color: lightcoral;
          border:2px solid rgb(100, 31, 54);
      }
      #box4{
          background-color:darkseagreen;
          border:2px solid olive;
      }*/

      /* in box class it target image */
      .box img{
          width: 100%;
          height: 150px;
          border-radius: 20px;
      }
      .box h2{
          text-align: center;
          margin: 10px;
      }
      .myButton{
          /* block properties */
          display: block;
          margin-top: 10px;
          text-decoration: none;
          text-align: center;
          color: white;
          font-family: Arial, Helvetica, sans-serif;
          background-color: red;
          padding: 10px 20px;
          border-radius: 20px;
      }
      .myButton:hover{
          background-color: blue;
      }