*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../assets/bgimg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}

.menu{
    background-color: gainsboro;
    text-align: center;
    border-bottom: 4px solid white;

}
.menu ul{
    display: inline-flex;
    list-style: none;
}
.menu ul li{
    width: 150px;
    margin: 7px;
    padding: 15px; 
} 
.menu ul li a{
    text-decoration: none;
    text-transform: none;
    color: rgb(50, 50, 50)  ;
}
.fa{
    margin-right: 5px;
}
.menu ul li :hover , .active{
    color: goldenrod;
    scroll-behavior: smooth;
    
 }
 
