h1{
    text-align: center;
    color: crimson;
    background-color: wheat;
}

body{
    background-image: url("../assets/triangle-patterns.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}